@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eef2f6;
}
/* ÁôÂÃºu°Ê±ø */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ÁôÂÃ Chrome, Safari, Edge ªº±²¶b */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* ÁôÂÃ Firefox ªº±²¶b */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

